/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End reset style sheet*/
*
{
	box-sizing:border-box;
}

html, body
{
	height: 100%;
	margin: 0px;
}


body
{
	background-color: #ffffe0;
}

h1,h2
{
    text-align: right;
	margin-right: 5em;
	margin-left: 1em;
    background-color: #ffff90;
}
h1
{
	box-shadow: -1em -1em .5em #0ff, 1em 1em .5em #0ff;
	border-radius: 100% 0 100% 0;

}

h2
{
	box-shadow: -.5em -.5em .5em #00f, 1em 1em .5em #00f;
	border-radius: 100% 0 100% 0;
}

li
{
	list-style: none;
}


form
{
    text-align: center;
    padding: 5em;
    background-color: #ffff90;
	color: black;
	box-shadow: -1em -1em .5em #0ff, 1em 1em .5em #0ff;
	border-radius: 100% 0 100% 0;

	
}

label
{
	display: block;
}
svg
{
	display: block;
	margin: 0 auto;
}

li a
{
	padding: .5em 1em .5em 0.5em;
	text-decoration: none;
	width: auto;
	margin: 0;

}

li a:hover
{
	color: #999;
}


.col1
{
    display: inline-block;
    width: 20%;
    height: 100%;
    vertical-align: top;
    padding: 2em;
    border-radius: 0 0 100% 0;
    box-shadow: 0 0 .5em #000;

}
.col2
{
    vertical-align: top;
    margin-left: auto;
    display: inline-block;
    width: 70%;
    height: 100%;
}

.submit {
    margin-top: .2em;
	box-shadow:inset 0 .1em 1em .25em #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	border-radius:15px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-style:italic;
	padding:.5em 2em;
	text-decoration:none;
	text-shadow:0 .1em 0 #4d3534;
}
.submit:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
.submit:active {
	position:relative;
	top:1px;
}

li.fancy_links
{
    display: inline-block;
    text-align: right;
	margin-right: 5em;
	margin-left: 1em;
    background-color: #ffff90;
    padding-bottom: 1.5em;
	margin-bottom: 3em;
	box-shadow: .25em .25em .5em #00f;
	border-radius: 100% 0 50% 0;
    font-size: 1.25em;
    font-weight: 400;
}

a.fancy_links
{
    color: #000;
}

.col1 a
{
	color: #634b30;
    text-decoration: none;

}

li .col2
{
    display: inline-block;
}

.col1 li
{
    margin-bottom: 1em;

}